---
import Base from "../layouts/Base.astro";
---

<Base title="Contact Us">
    <h3>Woodside Board of Directors Email Group</h3>
    <a href="mailto:woodsidebhamhoa@googlegroups.com">woodsidebhamhoa@googlegroups.com</a>
</Base>

<style>
    a {
        text-decoration: underline;
        font-size: 1.2em;
    }
</style>