---
---

<a href="/">Home</a>
<a href="/faq/">FAQ</a>
<a href="/contact/">Contact</a>
<a href="/services/">Board</a>

<hr/>
<style lang="scss">

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #ccc;
}

a {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
</style>