---
import Base from './Base.astro';
const { frontmatter } = Astro.props;
---
<Base pageTitle={frontmatter.title}>
    <meta charset="utf-8" />
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0,10)}
    <br/>
    <em>{frontmatter.description}</em>
    <br/>
    Written by: {frontmatter.author}
    <br/>
    <slot />
</Base>